<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/alert %>

<div class="container text-center">
	This is the home page
	<div class="form-group">
		<button class="btn btn-info" type="submit">
			<a class="float-right" style="color: white" href="/quiz/add">Create Quiz</a>
		</button>
	</div>
	<%if(!isSupport){%>
		<% allQuizzes.forEach(function(quiz) { %>
			<% //if (quiz.takenByStudent.find(function(currentUser._id){})) { %>
			<div class="media rounded-box quiz-post overflow-hiddden">
				<div >
					<img class="rounded mx-auto d-block" src = "<%= quiz.author.avatar %>" alt="Generic placeholder image"> 
					<h5 class="mt-0"><%= quiz.author.name%></h5>
				</div>
				<div class="media-body">
					<h2 class="mt-0" > <%= quiz.title%></h6>
				</div>
				<div style="text-align: center; ">
					<a href="/quiz/take/<%= quiz._id%>">
						<button class="btn btn-outline-success rounded">Take Quiz</button>
					</a>
				</div>
			</div>
		<% }); %>
	<%}%>
</div>


<% include ../partials/footer %>