<% include ../partials/header %>

<div class="container text-center">
	This is the home page
	<div class="form-group">
		<button class="btn btn-primary" type="submit">
		<a class="float-right" style="color: white" href="/quiz/create">Create Quiz</a>
		</button>
	</div>

</div>

<% include ../partials/footer %>