<% include ../partials/header %>

<div class="container">
	<div class="text-center">
		<i class="fas fa-graduation-cap fa-3x"></i><br>
		<span>CAMPUS.IO</span><br><br>
	</div>
	<form class="col-md-6 offset-md-3"
	action="/quiz/addQuestions/<%= quizId %>"
	method="POST"> 
	<legend> Add question <%= questionNo %> details</legend>
	<div class="form-group">
		<label for="question">Question</label>
		<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
		type="text" name="question" required="true"></textarea>
	</div></br>
	<div id="optionContainer"></div>
	<button id="addOption" class="btn btn-outline-success rounded float-left"
	 type="button">
	Add Option</button>
	<button id="removeOption" class="btn btn-outline-danger rounded float-right"
	 type="button">Remove Option</button>
	</br>
	</br>
	<button class="btn btn-primary" type="submit">
	Next Question</button>
</div>
</form>
</div>

<script type="text/javascript" src="/scripts/addQuestions.js"></script>
<% include ../partials/footer %>