<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/alert %>

	<div class="container">
		<h1>
			You have scored : <%= score%> Out of <%= maxScore%>
		</h1>
	</div>

	<% include ../partials/footer %>